
@mixin rounded-border-card($backgroud-color, $font-color, $border-color, $border-radius, $border-thickness, $padding-margin) {
    background-color: $backgroud-color;
    color: $font-color;
    border-radius: $border-radius;
    border: $border-thickness solid $border-color;
    margin: $padding-margin;
    padding: $padding-margin;
}

@mixin button-style($backgroud-color, $border-color, $text-color, $border-radius, $width) {
    background-color: $backgroud-color;
    color: $text-color;
    border: 3px solid $border-color;
    font-size: 16px;
    text-align: center;
    border-radius: $border-radius;
    width: $width;
}

@mixin vintage-game-font-style() {
    font-family: "Press Start 2P", system-ui;
    font-weight: 200;
    font-style: normal;
}