@charset "utf-8";

@import "variables.scss";
@import "mixins.scss";

.hide-element {
    display: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin: 15px;
    button {
        @include button-style($button-keyboard-color, $button-keyboard-border-color, $button-keyboard-text-color, 5px, 100px);
        padding: 5px;
        margin: 10px;
    }    
    button:hover {
        background-color: $button-keyboard-text-color;
        color: $button-keyboard-color;
    }
}

main {
    display: flex;
    flex-direction: column;
    .main-container-element {
        @include rounded-border-card($card_color, $card_font_color, $card_border_color, $card_border_radius, 10px, 5px);
    }

    #img-container {
        display: flex;
        flex-direction: column;
        align-items: center;

        #hangman-img {
            padding: 5px;
            margin: 5px;
            display: flex;
            justify-content: center;
            img {
                width: 90%;
                height: auto;
                border-radius: $card_border_radius;
            }
        }
        #word-value-container {
            display: flex;
            flex-direction: row;
            justify-content: center;
            * {
                @include rounded-border-card($card_color, $card_font_color, $card_border_color, 10px, 2px, 2px);
                padding: 5px;
                font-size: 1.2rem;
                height: 22px;
                width: 15px;
                text-align: center;
            }
        }
    }
    
    #keyboard-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        button {
            @include button-style($button-keyboard-color, $button-keyboard-border-color, $button-keyboard-text-color, 5px, 40px);
            padding: 5px;
            margin: 10px;
        }
        button:hover {
            background-color: $button-keyboard-text-color;
            color: $button-keyboard-color;
        }
    }

    #game-status-wrapper-container {
        display: flex;
        flex-direction: column;

        #game-status-container {
            width: calc(100% - 100px);
            position: relative;
    
            h2 {
                width: 100px;
                position: relative;
            }
        }

        #retry-game-button-container {
            align-self: center;
            button {
                @include button-style($button-keyboard-color, $button-keyboard-border-color, $button-keyboard-text-color, 5px, 100px);
                padding: 5px;
            }
            button:hover {
                background-color: $button-keyboard-text-color;
                color: $button-keyboard-color;
            }
        }
    }

}