//color palet
$primary_color: #0fa3b1;
$primary_shade: #b5e2fa;
$backgroud_color: #f9f7f3;
$secondary_color: #f7a072;
$secondary_shade: #eddea4;

//card
$card_border_radius: 10px;
$card_color: $backgroud_color;
$card_font_color: $primary_color;
$card_border_color: $primary_shade;

//button
$button-color: $secondary_color;
$button-border-color: $secondary_shade;
$button-text-color: $backgroud_color;